@import url(reset.css);

/* Header */
#gnb{
  position: fixed;
  z-index: 1000;
  width: 1010px;
  height: 50px;
  color: #333;
  background: url(../image/header.png) no-repeat center;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}

#gnb li{
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 17px;
  font-weight: 500;
}

#gnb li a{
  padding: 4px 10px;
  border-radius: 3px;
  transition: 0.35s;
}

#gnb>li>a:hover{
  background-color: #333;
  color: #fff;
}


.main_all{
  width: 100%;
  height: 100vh;
  background-color: #FFE95B;
  
}

.main_in{
  width: 1200px;
  height: inherit;
  margin: auto;
  padding-left: 50px;
  padding-top: 10px;
}

.main_visual{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  position: relative;
}

.main_visual img{
  width: 900px;
  -webkit-user-drag: none;
}

.main_visual img:nth-child(2){
  position: absolute;
  width: 500px;
  top: 590px;
  right: 190px;
  transition: 0.5s;
}

.main_visual .webd:hover{
  transform: scale(1.15);
}

@keyframes tw-ani
{
  0%{
    transform: translateY(10%) rotate(-5deg);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(10%) rotate(-3deg);
  }
}

@keyframes tw-ani2
{
  0%{
    transform: translateY(10%) rotate(4deg);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(10%) rotate(4deg);
  }
}

.main_visual img:nth-child(3){
  position: absolute;
  width: 57px;
  top: 390px;
  right: 250px;
  animation: tw-ani 2.5s cubic-bezier(0.6, 0, 0.4, 0.6) infinite alternate;
}

.main_vs2 img:nth-child(1){
  position: absolute;
  top: 640px;
  left: 70px;
  width: 50px;
  animation: tw-ani2 2.5s cubic-bezier(0.6, 0, 0.4, 0.6) infinite alternate;
}

.main_vs2 img:nth-child(2){
  position: absolute;
  width: 315px;
  top: 660px;
  left: 300px;
}

.main_vs2 img:nth-child(3){
  position: absolute;
  top: 670px;
  left: 630px;
  animation: battery-ani 2s 4s infinite;
  opacity: 0;
}

@keyframes battery-ani{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.main_vs2 p{
  position: absolute;
  top: 665px;
  right: 310px;
  color: #FFE95B;
  font-weight: 600;
  font-size: 22px;
  animation: battery-ani 2s 4s infinite;
  opacity: 0;
}

.main_vs2 p em{
  margin-left: 40px;
  font-style: normal;
}

@keyframes battery1{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  20%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.battery{
  position: absolute;
  top: 663px;
  left: 305px;
}

.battery span{
  background-color: #000;
  padding: 1px 6px;
  opacity: 0;
  display: inline-block;
  text-indent: -9999px;
}

.main_vs2 span:nth-child(1){
  animation: battery1 4s 1s infinite alternate;
}
.main_vs2 span:nth-child(2){
  animation: battery1 3s 2s infinite alternate;
}
.main_vs2 span:nth-child(3){
  animation: battery1 3s 2.5s infinite alternate;
}
.main_vs2 span:nth-child(4){
  animation: battery1 3s 3s infinite alternate;
}
.main_vs2 span:nth-child(5){
  animation: battery1 3s 3.5s infinite alternate;
}


/* profile */

.pofile_all{
  width: 100%;
  height: 100vh;
  background-color: #eee;
  color: #1f1f1f;
}


.pf_in{
  width: 1400px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -30px;
}

.pofile_all h1{
  font-family: 'DungGeunMo';
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 190px;
  left: -400px;
}

.pf_left{
  margin-right: 20px;
}

.pf_left img{
  width: 320px;
}

.profile_text{
  margin-left: -18px;
  margin-top: 15px;
  width: 320px;
  height: 210px;
  padding: 20px 0 20px 35px;
  object-fit: cover;
  background: url(../image/textback.png) no-repeat center;
}

.profile_text h2{
  padding: 15px 0 5px 0;
  font-size: 25px;
}

.profile_text h2:after{
  content: '\f007';
  font-family: fontawesome;
  font-size: 23px;
  margin-left: 10px;
}

.profile_text h3{
  font-size: 21px;
  margin-bottom: 17px;
}

.profile_text em{
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
}

.profile_text p{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.profile_text span{
  margin-left: 23px;
  font-weight: 500;
  font-size: 17px;
}

.pf_center{
  display: flex;
  margin-left: 60px;
  margin-top: -247px;
}

.pf_center h2{margin-bottom:10px;}

.pf_center p{
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #414141;
}

.pf_center span{
  font-weight: 400;
  font-size: 15px;
  display: block;
  margin-top: 3px;
}

.cer{margin-top: -2px;}

.education{margin-right: 80px;}

.skill{
  display: block;
  position: absolute;
  top: 460px;
  left: 620px;
}

.skill h2{
  margin-bottom: 13px;
}

.skill_all{display: flex;}

.sk_left{
  margin-right: 35px;
}

@keyframes percent1{
  0%{width: 0;}
  100%{width: 90%;}
}
@keyframes percent2{
  0%{width: 0;}
  100%{width: 80%;}
}
@keyframes percent3{
  0%{width: 0;}
  100%{width: 75%;}
}

.percent, .percent2, .percent3{
  width: 280px;
  height: 13px;
  background-color: #c2c2c2;
  overflow: hidden;
  position: relative;
}

.percent:after, .percent2:after, .percent3:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 13px;
  background-color: #333;  
}

.percent:after{animation: percent1 3s ease forwards;}
.percent2:after{animation: percent2 3s ease forwards;}
.percent3:after{animation: percent3  3s ease forwards;}


.skill_all .sk p{
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 500;
}

.skill_all .sk{
  margin-bottom: 12px;
}

.skill_all .sk span{
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
}

.photo span{text-indent: 143px;}
.ilust span{text-indent: 155px;}
.fig span{text-indent: 179px;}
.ht span{text-indent: 130px;}
.jq span{text-indent: 171px;}
.jv span{text-indent: 153px;}

.subskill img{
  width: 55px;
  margin-top: 8px;
  margin-right: 10px;
}

.subskill img:nth-child(1){width: 63px;}
.subskill img:nth-child(3){width: 50px;}
.subskill img:nth-child(4){width: 45px;}

/* 그래픽 */
.graphic_all{
  width: 100%;
  background-color: #fff4af;
  color: #1f1f1f;
  position: relative;
}

.graphic_in{
  width: 1400px;
  height: 100vh;
  margin: auto;
}

.graphic_in h2{
  font-family: 'DungGeunMo';
  font-size: 85px;
  padding-top: 100px;
  margin-left: 150px;
}

.btn{
  display: flex;
  margin-left: 150px;
}

.btn1, .btn2{
  font-size: 21px;
  font-weight: 500;
  color: #333;
  background-color: #FFE95B;
  border: 3px solid #333;
  padding: 3px 40px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 20px;
  transition: 0.35s;
  width: 60px;
}

.btn1{
  width: 75px;
}

.btn1:hover, .btn2:hover, .active{
  cursor: pointer;
  color: #fff;
  background-color: #333;
  border: 3px solid #333;
}

.gplist{
  border-style: none;
  background-color: #fff4af;
}

.list_gp li, .list_gp2 li{
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.3s;
  margin-top: 30px;
  margin-right: 30px;
}

.list_gp img, .list_gp2 img{
  width: 250px;
  border-radius: 10px;
}
.list_all{margin-left: 50px;}
.list_all div{display: none;}
.list_all div.active{display: block;}


.thum1, .thum2, .thum3, .thum4{
  margin-right: 30px;
}

.thum1 span, .thum2 span, 
.thum3 span, .thum4 span{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 230px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #242424ce;
  position: absolute;
  top: 0px;
  left:100px;
  opacity: 0;
  transition: 0.5s;
}

.thum1:hover span, .thum2:hover span, 
.thum3:hover span, .thum4:hover span{
  opacity: 1;
}

.thum1 span::before, .thum2 span::before,
.thum3 span::before, .thum4 span::before{
  content: url(../image/more.png);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}


.thum1 span{left: 0px;}
.thum2 span{left: 280px;}
.thum3 span{left: 560px;}
.thum4 span{left: 840px;}

.list_thum{
  position: absolute;
  left: 100px;
}

.gp1{
  display: flex;
  align-items: center;
  margin-top: -1.5px;
}

.gp2{
  display: block;
  justify-content: center;
  position: relative;
  transition: 0.3s;
  top: 280px;
  right: 1120px;
}

.thum5, .thum6, .thum7, .thum8{
  margin-right: 30px;
}

.thum5 span, .thum6 span, .thum7 span, .thum8 span{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 230px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #242424ce;
  position: absolute;
  top: 0px;
  left:100px;
  opacity: 0;
  transition: 0.5s;
}

.list_thum2{
  position: absolute;
  left: 290px;
}

.th_p{
  display: flex;
  align-items: center;
  margin-top: -1.5px;
}

.th_bottom{
  justify-content: center;
  position: relative;
  transition: 0.3s;
  top: 280px;
  right: 690px;
}

.thum5 span::before, .thum6 span::before,
.thum7 span::before, .thum8 span::before{
  content: url(../image/more.png);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}

.thum5:hover span, .thum6:hover span, 
.thum7:hover span, .thum8:hover span{
  opacity: 1;
}

.thum5 span, .thum6 span, 
.thum7 span, .thum8 span{left: 0px;}

.th1 span{left: -40px;}
.th2 span{left: 240px;}
.th3 span{left: 520px;}
.th4 span, .th5 span{left: 0px;}


/* POPUP BOX ---------------------*/

.modal, .modal2{ /*검정배경*/
	display:none; 
	position:absolute; 
	left:0; 
	top:0;
	width:100%; 
	height:100vh; 
	background:rgba(0,0,0,0.7); 
	z-index:1000;
	overflow-x:hidden;
	overflow-y:auto; 
}

.modal_in, .modal_in2{
	width: 1200px;
	min-height: 100%;
  position: relative;
  left: 350px;
}

.modal_content, .modal_content2{   
	position:absolute;
	width:1200px;
	min-height: 100%;
}


.modal_content>li, .modal_content2>li{
	display:none;
	text-align:center;
	font-size:30px;
}


/*버튼영역*/

.modal_btn, .modal_btn2{
	position: fixed;
  left: 1480px;
	top:30px;
	width:190px;
	height:150px;
	text-align:center;
	overflow:hidden;
	z-index:200;
}

.lr-btn, .lr-btn2{
  display: flex;
}

.btn_all, .btn_all2{
  display: flex;
  color:#333;
  background-color: #FFE95B;
  border: 3px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.g_page, .g_page2{
  padding: 7px 10px;
  font-size: 20px;
  font-weight: 500;
}

.g_page em, .g_page2 em{
  font-style: normal;
  font-weight: 700;
}

.pre, .next, .pre2, .next2{
  margin-top: 10px;
  padding: 0 5px;
}

.close, .close2{
  color:#333;
  background-color: #FFE95B;
  border: 2px solid #000;
  border-radius: 7px;
  cursor: pointer;
  height: 35px;
  transform: scale(1.2);
  padding-top: 20px;
  padding: 0 5px;
  margin-left: 10px;
  margin-top: 5px;
}

.close i, .close2 i{
  margin-top: 6px;
}

/* 웹사이트 제작 */

.site_all{
  width: 100%;
  height: 100vh;
  background-color: yellowgreen;
}

.slide{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide .slide_items{
  position: absolute;
  display: flex;
}

.slide .slide_items li{
  width: 100%;
  color: #fff;
}

.slide .slide_items li.per1{
  background-color: #3F3F3F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide .slide_items li.yellowgreen{background-color: yellowgreen;}

.side-btn{
  position: absolute;
  color: #fff;
  font-size: 70px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
}

.next3{
  position: absolute;
  left: 1780px;
}

.onepage{
  border: 1px solid #000;
  width: 1600px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.onepage h3{
  font-size: 20px;
}

.one_left{
  /* border: 1px solid #000; */
  margin-left: 100px;
  width: 450px;
}

.one_left img{
  width: 300px;
  transform: translateX(25%);
}

.one_left p{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #4CE64C;
  margin-top: 10px;
}

.one_left h4{
  display: block;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin: 10px 0;
  color: #4CE64C;
  margin-bottom: 28px;
}

.one_left hr{
  height: 3px;
  background-color: #FFE95B;
  margin-bottom: 10px;
}

.one_work p{
  font-size: 20px;
}

p.text_1{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #FFE95B;
}

p.text_1 span{
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #FFE95B;
}

p.text_1 em{
  font-style: normal;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #FFE95B;
}

hr.hr2{
  height: 1px;
  background-color: #FFE95B;
  margin-top: 10px;
}

.work_p{
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.work_p p{
  background-color: #FFF29F;
  color: #333;
  font-style: normal;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
}

.page{
  margin-left: 10px;
}

.tool p{
  background-color: #FFF29F;
  color: #333;
  font-style: normal;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 80px;
  margin-top: 15px;
}

.one_work h5{
  text-align: center;
  margin: 13px 0;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  margin-left: 40px;
}

.one_work h5::before{
  content: url(../image/pcicon.png);
  position: absolute;
  top: 4px;
  left: 50px;
}

.one_right img{
  width: 800px;
}