@import url(reset.css);

/* Header */
#gnb{
  position: fixed;
  z-index: 1000;
  width: 1010px;
  height: 50px;
  color: #333;
  background: url(../image/header.png) no-repeat center;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}

#gnb li{
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 17px;
  font-weight: 500;
}

#gnb li a{
  padding: 4px 10px;
  border-radius: 3px;
  transition: 0.35s;
}

#gnb>li>a:hover{
  background-color: #333;
  color: #fff;
}


.main_all{
  width: 100%;
  height: 100vh;
  background-color: #FFE95B;
  
}

.main_in{
  width: 1200px;
  height: inherit;
  margin: auto;
  padding-left: 50px;
  padding-top: 10px;
}

.main_visual{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  position: relative;
}

.main_visual img{
  width: 900px;
  -webkit-user-drag: none;
}

.main_visual img:nth-child(2){
  position: absolute;
  width: 500px;
  top: 590px;
  right: 190px;
  transition: 0.5s;
}

.main_visual .webd:hover{
  transform: scale(1.15);
}

@keyframes tw-ani
{
  0%{
    transform: translateY(10%) rotate(-5deg);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(10%) rotate(-3deg);
  }
}

@keyframes tw-ani2
{
  0%{
    transform: translateY(10%) rotate(4deg);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(10%) rotate(4deg);
  }
}

.main_visual img:nth-child(3){
  position: absolute;
  width: 57px;
  top: 390px;
  right: 250px;
  animation: tw-ani 2.5s cubic-bezier(0.6, 0, 0.4, 0.6) infinite alternate;
}

.main_vs2 img:nth-child(1){
  position: absolute;
  top: 640px;
  left: 70px;
  width: 50px;
  animation: tw-ani2 2.5s cubic-bezier(0.6, 0, 0.4, 0.6) infinite alternate;
}

.main_vs2 img:nth-child(2){
  position: absolute;
  width: 315px;
  top: 660px;
  left: 300px;
}

.main_vs2 img:nth-child(3){
  position: absolute;
  top: 670px;
  left: 630px;
  animation: battery-ani 2s 4s infinite;
  opacity: 0;
}

@keyframes battery-ani{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.main_vs2 h2{
  position: absolute;
  top: 665px;
  right: 310px;
  color: #FFE95B;
  font-weight: 600;
  font-size: 22px;
  animation: battery-ani 2s 4s infinite;
  opacity: 0;
}

.main_vs2 h2 em{
  margin-left: 40px;
  font-style: normal;
}

@keyframes battery1{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  20%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.battery{
  position: absolute;
  top: 663px;
  left: 305px;
}

.battery span{
  background-color: #000;
  padding: 1px 6px;
  opacity: 0;
  display: inline-block;
  text-indent: -9999px;
}

.main_vs2 span:nth-child(1){
  animation: battery1 4s 1s infinite alternate;
}
.main_vs2 span:nth-child(2){
  animation: battery1 3s 2s infinite alternate;
}
.main_vs2 span:nth-child(3){
  animation: battery1 3s 2.5s infinite alternate;
}
.main_vs2 span:nth-child(4){
  animation: battery1 3s 3s infinite alternate;
}
.main_vs2 span:nth-child(5){
  animation: battery1 3s 3.5s infinite alternate;
}


/* profile */

.pofile_all{
  width: 100%;
  height: 100vh;
  background-color: #eee;
  color: #1f1f1f;
}


.pf_in{
  width: 1400px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -30px;
}

.pofile_all h1{
  font-family: 'DungGeunMo';
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 190px;
  left: -400px;
}

.pf_left{
  margin-right: 20px;
}

.pf_left img{
  width: 320px;
}

.profile_text{
  margin-left: -18px;
  margin-top: 15px;
  width: 320px;
  height: 210px;
  padding: 20px 0 20px 35px;
  object-fit: cover;
  background: url(../image/textback.png) no-repeat center;
}

.profile_text h2{
  padding: 15px 0 5px 0;
  font-size: 25px;
}

.profile_text h2:after{
  content: '\f007';
  font-family: fontawesome;
  font-size: 23px;
  margin-left: 10px;
}

.profile_text h3{
  font-size: 21px;
  margin-bottom: 17px;
}

.profile_text em{
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
}

.profile_text p{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.profile_text span{
  margin-left: 23px;
  font-weight: 500;
  font-size: 17px;
}

.pf_center{
  display: flex;
  margin-left: 60px;
  margin-top: -247px;
}

.pf_center h2{margin-bottom:10px;}

.pf_center p{
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #414141;
}

.pf_center span{
  font-weight: 400;
  font-size: 15px;
  display: block;
  margin-top: 3px;
}

.cer{margin-top: -2px;}

.education{margin-right: 80px;}

.skill{
  display: block;
  position: absolute;
  top: 460px;
  left: 620px;
}

.skill h2{
  margin-bottom: 13px;
}

.skill_all{display: flex;}

.sk_left{
  margin-right: 35px;
}

@keyframes percent1{
  0%{width: 0;}
  100%{width: 90%;}
}
@keyframes percent2{
  0%{width: 0;}
  100%{width: 80%;}
}
@keyframes percent3{
  0%{width: 0;}
  100%{width: 75%;}
}

.percent, .percent2, .percent3{
  width: 280px;
  height: 13px;
  background-color: #c2c2c2;
  overflow: hidden;
  position: relative;
}

.percent:after, .percent2:after, .percent3:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 13px;
  background-color: #333; 
}

.percent:after{animation: percent1 3s ease forwards;}
.percent2:after{animation: percent2 3s ease forwards;}
.percent3:after{animation: percent3  3s ease forwards;}


.skill_all .sk p{
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 500;
}

.skill_all .sk{
  margin-bottom: 12px;
}

.skill_all .sk span{
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
}

.photo span{text-indent: 143px;}
.ilust span{text-indent: 155px;}
.fig span{text-indent: 179px;}
.ht span{text-indent: 130px;}
.jq span{text-indent: 171px;}
.jv span{text-indent: 153px;}

.subskill img{
  width: 55px;
  margin-top: 8px;
  margin-right: 10px;
}

.subskill img:nth-child(1){width: 63px;}
.subskill img:nth-child(3){width: 50px;}
.subskill img:nth-child(4){width: 47px;}
.subskill img:nth-child(5){width: 45px;}

/* 그래픽 */
.graphic_all{
  width: 100%;
  background-color: #fff4af;
  color: #1f1f1f;
  position: relative;
}

.graphic_in{
  width: 1400px;
  height: 100vh;
  margin: auto;
}

.graphic_in h2{
  font-family: 'DungGeunMo';
  font-size: 85px;
  padding-top: 100px;
  margin-left: 150px;
}

.btn{
  display: flex;
  margin-left: 150px;
}

.btn1, .btn2{
  font-size: 21px;
  font-weight: 500;
  color: #333;
  background-color: #FFE95B;
  border: 3px solid #333;
  padding: 3px 40px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 20px;
  transition: 0.35s;
  width: 60px;
}

.btn1{
  width: 75px;
}

.btn1:hover, .btn2:hover, .active{
  cursor: pointer;
  color: #fff;
  background-color: #333;
  border: 3px solid #333;
}

.gplist{
  border-style: none;
  background-color: #fff4af;
}

.list_gp li, .list_gp2 li{
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.3s;
  margin-top: 30px;
  margin-right: 30px;
}

.list_gp img, .list_gp2 img{
  width: 250px;
  border-radius: 10px;
}
.list_all{margin-left: 50px;}
.list_all div{display: none;}
.list_all div.active{display: block;}


.thum1, .thum2, .thum3, .thum4{
  margin-right: 30px;
}

.thum1 span, .thum2 span, 
.thum3 span, .thum4 span{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 230px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #242424ce;
  position: absolute;
  top: 0px;
  left:100px;
  opacity: 0;
  transition: 0.5s;
}

.thum1:hover span, .thum2:hover span, 
.thum3:hover span, .thum4:hover span{
  opacity: 1;
}

.thum1 span::before, .thum2 span::before,
.thum3 span::before, .thum4 span::before{
  content: url(../image/more.png);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}


.thum1 span{left: 0px;}
.thum2 span{left: 280px;}
.thum3 span{left: 560px;}
.thum4 span{left: 840px;}

.list_thum{
  position: absolute;
  left: 100px;
}

.gp1{
  display: flex;
  align-items: center;
  margin-top: -1.5px;
}

.gp2{
  display: block;
  justify-content: center;
  position: relative;
  transition: 0.3s;
  top: 280px;
  right: 1120px;
}

.thum5, .thum6, .thum7, .thum8{
  margin-right: 30px;
}

.thum5 span, .thum6 span, .thum7 span, .thum8 span{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 230px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #242424ce;
  position: absolute;
  top: 0px;
  left:100px;
  opacity: 0;
  transition: 0.5s;
}

.list_thum2{
  position: absolute;
  left: 290px;
}

.th_p{
  display: flex;
  align-items: center;
  margin-top: -1.5px;
}

.th_bottom{
  justify-content: center;
  position: relative;
  transition: 0.3s;
  top: 280px;
  right: 690px;
}

.thum5 span::before, .thum6 span::before,
.thum7 span::before, .thum8 span::before{
  content: url(../image/more.png);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}

.thum5:hover span, .thum6:hover span, 
.thum7:hover span, .thum8:hover span{
  opacity: 1;
}

.thum5 span, .thum6 span, 
.thum7 span, .thum8 span{left: 0px;}

.th1 span{left: -40px;}
.th2 span{left: 240px;}
.th3 span{left: 520px;}
.th4 span, .th5 span{left: 0px;}


/* POPUP BOX ---------------------*/

.modal, .modal2{
	display:none; 
	position:fixed;
	left:0; 
	top:0;
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.7); 
	z-index:1000;
	overflow-x:hidden;
	overflow-y:auto; 
}

.modal_in, .modal_in2{
	width: 1200px;
	min-height: 100%;
  position: relative;
  margin: auto;
}

.modal_content, .modal_content2{   
	position:absolute;
	width:1200px;
	min-height: 100%;
}

.modal_content>li, .modal_content2>li{
	display:none;
	text-align:center;
	font-size:30px;
}


/*버튼*/

.modal_btn, .modal_btn2{
	position: fixed;
  left: 1480px;
	top:30px;
	width:190px;
	height:150px;
	text-align:center;
	overflow:hidden;
	z-index:200;
}

.lr-btn, .lr-btn2{
  display: flex;
}

.btn_all, .btn_all2{
  display: flex;
  color:#333;
  background-color: #FFE95B;
  border: 3px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.g_page, .g_page2{
  padding: 7px 10px;
  font-size: 20px;
  font-weight: 500;
}

.g_page em, .g_page2 em{
  font-style: normal;
  font-weight: 700;
}

.pre, .next, .pre2, .next2{
  margin-top: 10px;
  padding: 0 5px;
}

.close, .close2{
  color:#333;
  background-color: #FFE95B;
  border: 2px solid #000;
  border-radius: 7px;
  cursor: pointer;
  height: 35px;
  transform: scale(1.2);
  padding-top: 20px;
  padding: 0 5px;
  margin-left: 10px;
  margin-top: 5px;
}

.close i, .close2 i{
  margin-top: 6px;
}

/* 웹사이트 제작 */

.site_all{
  width: 100%;
  height: 100vh;
  background-color: yellowgreen;
  position: relative;
}

.slide{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide .slide_items{
  position: absolute;
  display: flex;
}

.slide .slide_items li{
  width: 100%;
  color: #fff;
}

.slide .slide_items li.per1{
  background-color: #3F3F3F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-btn{
  position: absolute;
  color: #acacac;
  font-size: 70px;
  top: 45%;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 1750px;
}

.side-btn span{
  cursor: pointer;
}

.onepage{
  width: 1600px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.onepage h3{
  font-size: 20px;
}

.one_left{
  margin-left: 145px;
  width: 450px;
}

.one_left img{
  width: 300px;
  transform: translateX(25%);
}

.one_left p{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #4CE64C;
  margin-top: 10px;
}

.one_left h4{
  display: block;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin: 10px 0;
  color: #4CE64C;
  margin-bottom: 28px;
}

.one_left hr{
  height: 3px;
  background-color: #FFE95B;
  margin-bottom: 10px;
  border-style: none;
}

.one_work p{
  font-size: 20px;
}

p.text_1{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #FFE95B;
}

p.text_1 span{
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #FFE95B;
}

p.text_1 em{
  font-style: normal;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #FFE95B;
}

hr.hr2{
  height: 2px;
  background-color: #FFE95B;
  margin-top: 10px;
}

.work_p{
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.work_p p{
  background-color: #FFF29F;
  color: #333;
  font-style: normal;
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 5px;
}

.page{
  margin-left: 10px;
}

.tool p{
  background-color: #FFF29F;
  color: #333;
  font-style: normal;
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 80px;
  margin-top: 15px;
}

.one_work h5{
  text-align: center;
  margin: 13px 0;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  margin-left: 40px;
}

.one_work h5::before{
  content: url(../image/pcicon.png);
  position: absolute;
  top: 4px;
  left: 50px;
}

.one_right img{
  width: 870px;
  margin-right: 50px;
}

.go, .go2{margin-top: 20px;}

.go a, .go2 a{
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #252525;
  background-color: #FFE95B;
  padding: 9px 30px;
  border-radius: 8px;
  margin-top: 10px;
  border: 3px solid #181818;
  transition: 0.35s;
}

.go a:hover, .go2 a:hover{
  background-color: #181818;
  color: #FFE95B;;
}

/* 모달 */
.modal3, .modal4, .modal5, .modal6{
	display:none; 
	position:fixed;
	left:0; 
	top:0;
	width:100%; 
	height:100vh; 
	background:rgba(0,0,0,0.7); 
	z-index:1000;
	overflow-x:hidden;
	overflow-y:auto; 
}

.modal_content3, .modal_content4, .modal_content5,
.modal_content6{
	width: 1080px;
	min-height: 100%;
  position: relative;
  margin: auto;
}

.btn_close, .btn_close2, .btn_close3,
.btn_close4{
  position: fixed;
  color:#333;
  background-color: #FFE95B;
  border: 2px solid #000;
  border-radius: 7px;
  cursor: pointer;
  height: 35px;
  transform: scale(1.2);
  padding-top: 20px;
  padding: 0 5px;
  margin-top: 20px;
  left: 1530px;
  top: 10px;
}

.btn_close i, .btn_close2 i, .btn_close3 i{
  margin-top: 6px;
}

/* 두번째 슬라이드 */

.slide .slide_items li.per2{
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ikea_page{
  width: 1600px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ikea_page h3{
  font-size: 20px;
}

.one_left2{
  /* border: 1px solid #000; */
  margin-left: 145px;
  width: 450px;
}

.one_left2 img{
  width: 300px;
  transform: translateX(25%);
}

.one_left2 h2{
  font-family: "Poetsen One", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #1E91FF;
  margin-top: 13px;
}

.one_left2 p{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-top: 10px;
}

.one_left2 h4{
  display: block;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  margin-top: 20px;
  color: #1E91FF;
  margin-bottom: 28px;
}

.one_left2 hr{
  height: 5px;
  background-color: #1E91FF;
  margin-bottom: 8px;
  border-style: none;
}

.one_work2 p{font-size: 20px;}

p.text_2{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #333;
}

p.text_2 span{
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #333;
}

p.text_2 em{
  font-style: normal;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #333;
}

hr.hr3{
  height: 2px;
  background-color: #1E91FF;
  margin-top: 10px;
}

.work_p2{
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.work_p2 p{
  background-color: #BEDFFF;
  color: #333;
  font-style: normal;
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 5px;
}

.page2{
  margin-left: 10px;
}

.tool2 p{
  background-color: #BEDFFF;
  color: #333;
  font-style: normal;
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 80px;
  margin-top: 15px;
}

.one_work2 h5{
  text-align: center;
  margin: 13px 0;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin-left: 40px;
  color: #0053A3;
}

.one_work2 h5::before{
  content: url(../image/pcicon2.png);
  position: absolute;
  top: 4px;
  left: 50px;
}

.one_right2 img{
  width: 840px;
  margin-right: 50px;
}

.go{margin-top: 20px;}

.go2 a{
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #252525;
  background-color: #FFE95B;
  padding: 9px 30px;
  border-radius: 8px;
  margin-top: 10px;
  border: 3px solid #181818;
  transition: 0.35s;
}

.go2 a:hover{
  background-color: #181818;
  color: #FFE95B;;
}

/* 세번째 슬라이드 */

.slide .slide_items li.per3{
  background-color: #F9FFEA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hana_page{
  width: 1600px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hana_page h3{
  font-size: 20px;
}


.one_left3{
  margin-left: 145px;
  width: 450px;
}

.one_left3 img{
  width: 300px;
  transform: translateX(25%);
}

.one_left3 h2{
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  color: #333;
  margin-top: 13px;
}

.one_left3 p{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-top: 10px;
}

.one_left3 h4{
  display: block;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  margin-top: 20px;
  color: #333;
  margin-bottom: 28px;
}

.one_left3 hr{
  height: 4px;
  background-color: #79FFCE;
  margin-bottom: 8px;
  font-size: 15px;
  border-style: none;
}

.one_work3 p{font-size: 20px;}

p.text_3{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #333;
}

p.text_3 span{
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #333;
}

p.text_3 em{
  font-style: normal;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #333;
}

hr.hr4{
  height: 2px;
  background-color: #79FFCE;
  margin-top: 10px;
}

.work_p3{
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.work_p3 p{
  background-color: #FFE6D8;
  color: #333;
  font-style: normal;
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 5px;
}

.page3{
  margin-left: 10px;
}

.tool3 p{
  background-color: #FFE6D8;
  color: #333;
  font-style: normal;
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 50px;
  margin-top: 15px;
}

.one_work3 h5{
  text-align: center;
  margin: 13px 0;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin-left: 40px;
  color: #3540BC;
}

.one_work3 h5::before{
  content: url(../image/pcicon3.png);
  position: absolute;
  top: 4px;
  left: 50px;
}

.one_right3 img{
  width: 890px;
  margin-right: 25px;
}

.go3 a{
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #252525;
  background-color: #FFE95B;
  padding: 9px 30px;
  border-radius: 8px;
  margin-top: 10px;
  border: 3px solid #181818;
  transition: 0.35s;
}

.go3 a:hover{
  background-color: #181818;
  color: #FFE95B;;
}

.responsive{
  display: flex;
}

.responsive a{
  width: 80px;
}

.responsive a{margin-left: 15px;}
.responsive a:nth-child(1){
  margin-left: -1px;
}
.responsive a:nth-child(3){
  width: 60px;
}


/* 모바일 */

.mobile_all{
  position: relative;
}

.mobile_slide{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mobile_slide .mobile_items{
  position: absolute;
  display: flex;
}

.mobile_slide .mobile_items li{
  width: 100%;
}

.side-btn2{
  position: absolute;
  color: #acacac;
  font-size: 70px;
  top: 45%;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 1750px;
}

.side-btn2 span{
  cursor: pointer;
}

/* 모달 */
.modal6, .modal7{
	display:none; 
	position:fixed;
	left:0; 
	top:0;
	width:100%; 
	height:100vh; 
	background:rgba(0,0,0,0.7); 
	z-index:1000;
	overflow-x:hidden;
	overflow-y:auto; 
}

.modal_content6, .modal_content7{
	width: 1080px;
	min-height: 100%; 
  position: relative;
  margin: auto;
}

.btn_close4, .btn_close5{
  position: fixed;
  color:#333;
  background-color: #FFE95B;
  border: 2px solid #000;
  border-radius: 7px;
  cursor: pointer;
  height: 35px;
  transform: scale(1.2);
  padding-top: 20px;
  padding: 0 5px;
  margin-top: 20px;
  left: 1530px;
  top: 10px;
}

.btn_close4 i, .btn_close5 i{
  margin-top: 6px;
}

/* 첫번째 슬라이드 */

.mobile_slide .mobile_items li.mob2{
  background: linear-gradient(to bottom, #fff, #FFE196);
  display: flex;
  align-items: center;
  justify-content: center;
}

.museum{
  display: flex;
  margin: auto;
}

.mu_left img{
  width: 750px;
  margin-top: 50px;
}

.mu_right{
  margin-top: 370px;
  height: 400px;
  margin-right: 10px;
}

.mu_right img{
  width: 280px;
}

.mu_right h2{
  font-size: 45px;
  font-weight: 800;
  color: #333;
  margin-top: 13px;
  position: relative;
}

.mu_right h2::after{
  content: url(../image/museumicon.png);
  position: absolute;
  left: 370px;
  top: -18px;
  width: 200px;
  transform: scale(0.7);
}

.mu_right h4{
  display: block;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
  margin-bottom: 28px;
}

.mu_right hr{
  height: 4px;
  background-color: #00B373;
  margin-top: -10px;
  font-size: 15px;
  border-style: none;
  margin-bottom: 15px;
}

.mwork_p{display: flex;}

.mwork_p p{
  background-color: #FF9457;
  color: #333;
  font-style: normal;
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
}

.mu_work{display: flex;}

.mpage, .mtool{
  margin-left: 12px;
}

.mu_work h5{
  text-align: center;
  margin: 13px 0;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin-left: 40px;
  color: #0A5B48;
  margin-bottom: 20px;
}

.mu_work h5::before{
  content: url(../image/pcicon4.png);
  position: absolute;
  top: 4px;
  left: 70px;
}

.go4{display: flex;}

.go4 a{
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #252525;
  background-color: #FFE95B;
  padding: 9px 30px;
  border-radius: 8px;
  margin-top: 10px;
  border: 3px solid #181818;
  transition: 0.35s;
  margin-right: 15px;
}

.go4 a:hover{
  background-color: #181818;
  color: #FFE95B;;
}

.museum_modal{
  margin-left: 20px;
}

/* 두번째 슬라이드 */
.mobile_slide .mobile_items li.mob1{
  background-color: #F0FFF1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dadok{
  display: flex;
  margin: auto;
}

.da_left img{
  width: 440px;
  margin-top: 70px;
  margin-left: 85px;
}

.da_right{
  margin-top: 400px;
  height: 400px;
  margin-left: 140px;
}

.da_right img{
  width: 280px;
}

.da_right h2{
  font-size: 45px;
  font-weight: 800;
  color: #333;
  margin-top: 13px;
  position: relative;
}

.da_right h2::after{
  content: url(../image/dadkoicon.png);
  position: absolute;
  left:470px;
  top: -70px;
  width: 200px;
  transform: scale(0.4);
}

.da_right h4{
  display: block;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
  margin-bottom: 28px;
}

.da_right hr{
  height: 4px;
  background-color: #2CBB87;
  margin-top: -10px;
  font-size: 15px;
  border-style: none;
  margin-bottom: 15px;
}

.dwork_p{display: flex;}

.dwork_p p{
  background-color: #A3E5A3;
  color: #333;
  font-style: normal;
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
}

.da_work{display: flex;}

.dpage, .dtool{
  margin-left: 12px;
}

.da_work h5{
  text-align: center;
  margin: 13px 0;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin-left: 40px;
  color: #0A5B48;
  margin-bottom: 20px;
}

.da_work h5::before{
  content: url(../image/pcicon4.png);
  position: absolute;
  top: 4px;
  left: 70px;
}

.go5{display: flex;}

.go5 a{
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #252525;
  background-color: #FFE95B;
  padding: 9px 30px;
  border-radius: 8px;
  margin-top: 10px;
  border: 3px solid #181818;
  transition: 0.35s;
  margin-right: 15px;
}

.go5 a:hover{
  background-color: #181818;
  color: #FFE95B;;
}

.dadok_modal{
  margin-left: 20px;
}

.da img{
  width: 1080px;
}


/* 웹계획 */
.planing_all{
  width: 100%;
  height: 100vh;
  background-color: #fff4af;
}

.pl_in{
  width: 1300px;
  height: inherit;
  margin: auto;
  position: relative;
}

.pl_in h2{
  font-family: 'DungGeunMo';
  font-size: 80px;
  padding-top: 100px;
  margin-bottom: 35px;
}

.plan_icon{
  position: absolute;
  top: 128px;
  left: 400px;
  animation: planicon-ani 1.1s infinite alternate ease-in;
}

.plan_icon img:nth-child(1){
  position: absolute;
  top: -3px;
  left: 60px;
  width: 30px;
}

@keyframes planicon-ani {
  from{
    transform: translateY(-4px);
  }
  to{
    transform: translateY(2px);
  }
}

.plan_icon img:nth-child(2){
  position: absolute;
  top: 5px;
  left: 53px;
  width: 45px;
}

.plan{
  display: flex;
}

.pdf1 object{
  border-radius: 17px;

}

.plist_all div{display: none;}
.plist_all div.active2{display: block;}

.btn_menu2{
  width: 600px;
  margin-right: 40px;
  position: relative;
}

.btn_menu2 h3{
  font-family: 'DungGeunMo';
  text-align: center;
  font-size: 45px;
}

.p_btn .p1{
  background-color: #ffeb65;
  border: 3px solid #333;
  border-radius: 8px;
  padding: 25px 30px;
  text-align: center;
  transition: 0.35s;
}


.p_btn li{
  margin-top: 14px;
  font-weight: 600;
  font-size: 16px;
}

.p_btn .check{
  margin-top: 125px;
}

.btn_menu2 h4{
  position: absolute;
  top: 350px;
  font-family: 'DungGeunMo';
  text-align: center;
  font-size: 45px;
}

.p_btn .pb1{background-color: #fff197;}
.p_btn .pb3{background-color: #ffd51c;}
.p_btn .p2{background-color: #62ffc6;}
.p_btn .pb4{background-color: #98ffd9;}

.pb1:hover, .pb2:hover, .pb3:hover,
.pb4:hover, .pb5:hover, .active3.pb1,
.active3.pb2, .active3.pb3, .active3.pb4,
.active3.pb5{
  cursor: pointer;
  color: #FFE95B;
  background-color: #333;
  font-weight: 400;
}

.pl_site{
  display: flex;
  padding-top: 130px;
  position: absolute;
  top: 12px;
  right: 0;
}

.pl_site p{
  font-family: 'DungGeunMo';
  font-size: 20px;
  margin-right: 14px;
}

.pl_site a{
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  background-color: #ffd54a;
  padding: 1px 20px;
  margin-top: -4px;
  /* border: 2px solid #333; */
  border-radius: 5px;
  transition: 0.35s;
}

.pl_site a:nth-of-type(1){
  margin-right: 10px;
}

.pl_site a:nth-of-type(1):hover{
  background-color: #2ba0ff;
}

.pl_site a:nth-of-type(2):hover{
  background-color: #2aeca2;
}